In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

# Load numpy
import numpy as np

# Set random seed
np.random.seed(0)

In [2]:
df = pd.read_csv("data/customer_booking.csv", encoding="ISO-8859-1")
df.head(10)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete
0,2,Internet,RoundTrip,262,19,7,Sat,AKLDEL,New Zealand,1,0,0,5.52,0
1,1,Internet,RoundTrip,112,20,3,Sat,AKLDEL,New Zealand,0,0,0,5.52,0
2,2,Internet,RoundTrip,243,22,17,Wed,AKLDEL,India,1,1,0,5.52,0
3,1,Internet,RoundTrip,96,31,4,Sat,AKLDEL,New Zealand,0,0,1,5.52,0
4,2,Internet,RoundTrip,68,22,15,Wed,AKLDEL,India,1,0,1,5.52,0
5,1,Internet,RoundTrip,3,48,20,Thu,AKLDEL,New Zealand,1,0,1,5.52,0
6,3,Internet,RoundTrip,201,33,6,Thu,AKLDEL,New Zealand,1,0,1,5.52,0
7,2,Internet,RoundTrip,238,19,14,Mon,AKLDEL,India,1,0,1,5.52,0
8,1,Internet,RoundTrip,80,22,4,Mon,AKLDEL,New Zealand,0,0,1,5.52,0
9,1,Mobile,RoundTrip,378,30,12,Sun,AKLDEL,India,0,0,0,5.52,0

In [3]:
mapping = {
    "Mon": 1,
    "Tue": 2,
    "Wed": 3,
    "Thu": 4,
    "Fri": 5,
    "Sat": 6,
    "Sun": 7,
}

df["flight_day"] = df["flight_day"].map(mapping)

In [4]:

from sklearn.preprocessing import OneHotEncoder
# Apply onehot encoder on sales_channel, trip_type
encoder=OneHotEncoder()
encoder.fit_transform(df[['sales_channel','trip_type']]).toarray()
feature_array=encoder.fit_transform(df[['sales_channel','trip_type']]).toarray()
feature_labels=encoder.categories_
feature_labels=np.hstack(feature_labels)
print(feature_labels)

['Internet' 'Mobile' 'CircleTrip' 'OneWay' 'RoundTrip']

In [5]:
features_encoded=pd.DataFrame(feature_array, columns=feature_labels)

In [6]:
pd.concat([df,features_encoded],axis=1)

,num_passengers,sales_channel,trip_type,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,Internet,Mobile,CircleTrip,OneWay,RoundTrip
0,2,Internet,RoundTrip,262,19,7,6,AKLDEL,New Zealand,1,0,0,5.52,0,1.0,0.0,0.0,0.0,1.0
1,1,Internet,RoundTrip,112,20,3,6,AKLDEL,New Zealand,0,0,0,5.52,0,1.0,0.0,0.0,0.0,1.0
2,2,Internet,RoundTrip,243,22,17,3,AKLDEL,India,1,1,0,5.52,0,1.0,0.0,0.0,0.0,1.0
3,1,Internet,RoundTrip,96,31,4,6,AKLDEL,New Zealand,0,0,1,5.52,0,1.0,0.0,0.0,0.0,1.0
4,2,Internet,RoundTrip,68,22,15,3,AKLDEL,India,1,0,1,5.52,0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,Internet,RoundTrip,27,6,9,6,PERPNH,Australia,1,0,1,5.62,0,1.0,0.0,0.0,0.0,1.0
49996,1,Internet,RoundTrip,111,6,4,7,PERPNH,Australia,0,0,0,5.62,0,1.0,0.0,0.0,0.0,1.0
49997,1,Internet,RoundTrip,24,6,22,6,PERPNH,Australia,0,0,1,5.62,0,1.0,0.0,0.0,0.0,1.0
49998,1,Internet,RoundTrip,15,6,11,1,PERPNH,Australia,1,0,1,5.62,0,1.0,0.0,0.0,0.0,1.0
49999,1,Internet,RoundTrip,19,6,10,4,PERPNH,Australia,0,1,0,5.62,0,1.0,0.0,0.0,0.0,1.0

In [7]:
df_cat=pd.concat([df,features_encoded],axis=1)

In [8]:
df_cat=df_cat.drop(['sales_channel','trip_type','Mobile'],axis='columns')
df_cat

,num_passengers,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,Internet,CircleTrip,OneWay,RoundTrip
0,2,262,19,7,6,AKLDEL,New Zealand,1,0,0,5.52,0,1.0,0.0,0.0,1.0
1,1,112,20,3,6,AKLDEL,New Zealand,0,0,0,5.52,0,1.0,0.0,0.0,1.0
2,2,243,22,17,3,AKLDEL,India,1,1,0,5.52,0,1.0,0.0,0.0,1.0
3,1,96,31,4,6,AKLDEL,New Zealand,0,0,1,5.52,0,1.0,0.0,0.0,1.0
4,2,68,22,15,3,AKLDEL,India,1,0,1,5.52,0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,27,6,9,6,PERPNH,Australia,1,0,1,5.62,0,1.0,0.0,0.0,1.0
49996,1,111,6,4,7,PERPNH,Australia,0,0,0,5.62,0,1.0,0.0,0.0,1.0
49997,1,24,6,22,6,PERPNH,Australia,0,0,1,5.62,0,1.0,0.0,0.0,1.0
49998,1,15,6,11,1,PERPNH,Australia,1,0,1,5.62,0,1.0,0.0,0.0,1.0
49999,1,19,6,10,4,PERPNH,Australia,0,1,0,5.62,0,1.0,0.0,0.0,1.0

In [10]:
df_cat=df_cat.drop(['OneWay'],axis='columns')
df_cat

,num_passengers,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,booking_complete,Internet,CircleTrip,RoundTrip
0,2,262,19,7,6,AKLDEL,New Zealand,1,0,0,5.52,0,1.0,0.0,1.0
1,1,112,20,3,6,AKLDEL,New Zealand,0,0,0,5.52,0,1.0,0.0,1.0
2,2,243,22,17,3,AKLDEL,India,1,1,0,5.52,0,1.0,0.0,1.0
3,1,96,31,4,6,AKLDEL,New Zealand,0,0,1,5.52,0,1.0,0.0,1.0
4,2,68,22,15,3,AKLDEL,India,1,0,1,5.52,0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,27,6,9,6,PERPNH,Australia,1,0,1,5.62,0,1.0,0.0,1.0
49996,1,111,6,4,7,PERPNH,Australia,0,0,0,5.62,0,1.0,0.0,1.0
49997,1,24,6,22,6,PERPNH,Australia,0,0,1,5.62,0,1.0,0.0,1.0
49998,1,15,6,11,1,PERPNH,Australia,1,0,1,5.62,0,1.0,0.0,1.0
49999,1,19,6,10,4,PERPNH,Australia,0,1,0,5.62,0,1.0,0.0,1.0

In [11]:
X=df_cat.drop('booking_complete',axis='columns')
X

,num_passengers,purchase_lead,length_of_stay,flight_hour,flight_day,route,booking_origin,wants_extra_baggage,wants_preferred_seat,wants_in_flight_meals,flight_duration,Internet,CircleTrip,RoundTrip
0,2,262,19,7,6,AKLDEL,New Zealand,1,0,0,5.52,1.0,0.0,1.0
1,1,112,20,3,6,AKLDEL,New Zealand,0,0,0,5.52,1.0,0.0,1.0
2,2,243,22,17,3,AKLDEL,India,1,1,0,5.52,1.0,0.0,1.0
3,1,96,31,4,6,AKLDEL,New Zealand,0,0,1,5.52,1.0,0.0,1.0
4,2,68,22,15,3,AKLDEL,India,1,0,1,5.52,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2,27,6,9,6,PERPNH,Australia,1,0,1,5.62,1.0,0.0,1.0
49996,1,111,6,4,7,PERPNH,Australia,0,0,0,5.62,1.0,0.0,1.0
49997,1,24,6,22,6,PERPNH,Australia,0,0,1,5.62,1.0,0.0,1.0
49998,1,15,6,11,1,PERPNH,Australia,1,0,1,5.62,1.0,0.0,1.0
49999,1,19,6,10,4,PERPNH,Australia,0,1,0,5.62,1.0,0.0,1.0

In [12]:
y=df_cat.booking_complete
y

0        0
1        0
2        0
3        0
4        0
        ..
49995    0
49996    0
49997    0
49998    0
49999    0
Name: booking_complete, Length: 50000, dtype: int64

In [15]:
from sklearn.model_selection import train_test_split
X_train, x_test , y_train , y_test = train_test_split(X, y, test_size=0.25, random_state=42)

In [16]:
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(max_depth=100,max_features=0.2,max_samples= 0.5, n_estimators= 100,n_jobs=-1)
#n_estimators=125, random_state=42, verbose=1,n_jobs=2,max_depth=64)
#Best from gridsearch
#max_depth': 64, 'max_features': 0.2, 'max_samples': 0.5, 'n_estimators': 100
model.fit(X_train, y_train)

ValueError: could not convert string to float: 'DPSKIX'

In [ ]:
y_pred=model.predict(x_test)

In [ ]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)